ACE2/ACE2.md
ACE2/
Caprion/
cvd2/
GEO/
HbF/
INF/
jm2294/
jp549/
polyphen-2.2.2/
py37/
R/
SCALLOP-Seq
scratch/
SomaLogic/
SWATH-MS
HGDP/2014-08-08_Files4MDS/
HGDP/4MDSanalysisv1.3.pdf
HGDP/_Z-genome_37202099_4294967294.err
HGDP/_Z-genome_37202099_4294967294.out
HGDP/_Z-genome_37417977_4294967294.err
HGDP/_Z-genome_37417977_4294967294.out
HGDP/mydata.bed
HGDP/mydata.bim
HGDP/mydata.fam
HGDP/mydata.log
HGDP/mydata.refdata.QCed.MDS.backup
HGDP/mydata.refdata.QCed.MDS.cluster1
HGDP/mydata.refdata.QCed.MDS.cluster2
HGDP/mydata.refdata.QCed.MDS.cluster3
HGDP/mydata.refdata.QCed.MDS.log
HGDP/mydata.refdata.QCed.MDS.mds
HGDP/mydata.refdata.QCed.MDS.nosex
HGDP/mydata.refdata.QCed.Z.genome.gz
HGDP/mydata.refdata.QCed.Z.log
HGDP/mydata.refdata.QCed.Z.nosex
HGDP/mydata.refdata.QCed.bed
HGDP/mydata.refdata.QCed.bim
HGDP/mydata.refdata.QCed.fam
HGDP/mydata.refdata.QCed.log
HGDP/mydata.refdata.QCed.nosex
HGDP/mydata.refdata.bed
HGDP/mydata.refdata.bim
HGDP/mydata.refdata.fam
HGDP/mydata.refdata.log
HGDP/mydata.refdata.nosex
HGDP/nonEUR.bed
HGDP/nonEUR.bim
HGDP/nonEUR.fam
HGDP/nonEUR.list
HGDP/nonEUR.log
HGDP/nonEUR.refdata.QCed.MDS.cluster1
HGDP/nonEUR.refdata.QCed.MDS.cluster2
HGDP/nonEUR.refdata.QCed.MDS.cluster3
HGDP/nonEUR.refdata.QCed.MDS.log
HGDP/nonEUR.refdata.QCed.MDS.mds
HGDP/nonEUR.refdata.QCed.MDS.nosex
HGDP/nonEUR.refdata.QCed.Z.genome.gz
HGDP/nonEUR.refdata.QCed.Z.log
HGDP/nonEUR.refdata.QCed.Z.nosex
HGDP/nonEUR.refdata.QCed.bed
HGDP/nonEUR.refdata.QCed.bim
HGDP/nonEUR.refdata.QCed.fam
HGDP/nonEUR.refdata.QCed.log
HGDP/nonEUR.refdata.QCed.nosex
HGDP/nonEUR.refdata.bed
HGDP/nonEUR.refdata.bim
HGDP/nonEUR.refdata.fam
HGDP/nonEUR.refdata.log
HGDP/nonEUR.refdata.nosex
HGI/20200603
HGI/20200603-ANA_C1_V2
HGI/20200603-ANA_C2_V2
HGI/20200731
HGI/20200731-ANA_C1_V2
HGI/20200731-ANA_C2_V2
HGI/20200731-female-60-ANA_C1_V2
HGI/20200731-female-60-ANA_C2_V2
HGI/20200731-female-ANA_C1_V2
HGI/20200731-female-ANA_C2_V2
HGI/20200731-male-60-ANA_C1_V2
HGI/20200731-male-60-ANA_C2_V2
HGI/20200731-male-ANA_C1_V2
HGI/20200731-male-ANA_C2_V2
HGI/20201201
HGI/20201201-ANA_C2_V2
HGI/20201201-female-ANA_C2_V2
HGI/20201201-gt_60-ANA_C2_V2
HGI/20201201-le_60-ANA_C2_V2
HGI/20201201-male-ANA_C2_V2
HGI/20210317
HGI/20210317-ANA_C2_V2
HGI/20210317-female-ANA_C2_V2
HGI/20210317-gt_60-ANA_C2_V2
HGI/20210317-le_60-ANA_C2_V2
HGI/20210317-male-ANA_C2_V2
HGI/Data_INTERVAL_latest
HGI/HGI
HGI/INTERVAL.bgen
HGI/INTERVAL.bgen.bgi
HGI/INTERVAL.csv
HGI/INTERVAL.log
HGI/INTERVAL.pgen
HGI/INTERVAL.psam
HGI/INTERVAL.pvar
HGI/L10RB_IFNAR2_variants.bed
HGI/L10RB_IFNAR2_variants.hg38
HGI/L10RB_IFNAR2_variants.txt
HGI/L10RB_IFNAR2_variants.unMapped
HGI/SAIGE.0.39.2.txt
HGI/Variant.txt
HGI/age.txt
HGI/bgi.sql
HGI/ethnic.log
HGI/ethnic.txt
HGI/ethnic_NA.txt
HGI/hgi
HGI/metadata.txt
HGI/output
HGI/pca_projection/
HGI/rsid.extract
HGI/sbatch
HGI/snpid-rsid.extract
HGI/snpid.extract
HGI/variants.extract
HGI/variants.extract2
HGI/work
MRcovid/
Olink-NGS/
docs/
miniconda37/
people/
scallop
22.04.vdi
ghostscript-9.56.1/
node_modules/
package-lock.json
package.json
ruby-2.7.5/

